body{background:rgb(25, 27, 28)}
#spinner{
  width: 100px;
height: 100px;
border-radius: 50%;
background-color: transparent;
margin: 20% auto;
border: 8px solid transparent;
border-top:8px  solid rgba(192, 57, 43,1);
border-left:8px  solid rgba(192, 57, 43,.4);
border-bottom:8px  solid rgba(192, 57, 43,1);
  border-right:8px  solid rgba(192, 57, 43,.4);
  animation: shadowspin .6s linear infinite;
  -webkit-animation: shadowspin .6s linear infinite;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes shadowspin {
   0% {  transform:rotate(0deg);
     box-shadow:inset 0px 0px 15px rgba(192, 57, 43,1); }
    55% { box-shadow:inset 0px 0px 35px rgba(192, 57, 43,0.5); }
    
   100% { transform:rotate(360deg);
     box-shadow:inset 0px 0px 15px rgba(192, 57, 43,1); }
}
@-moz-keyframes shadowspin {
   0% { -moz-transform:rotate(0deg);
     box-shadow:inset 0px 0px 15px rgba(192, 57, 43,1); }
    
    55% { box-shadow:inset 0px 0px 35px rgba(192, 57, 43,0.5); }
    
   100% { 
    -moz-transform:rotate(360deg);box-shadow:inset 0px 0px 15px rgba(192, 57, 43,1); }
}
@-webkit-keyframes shadowspin {
   0% {-webkit-transform:rotate(0deg);
       box-shadow:inset 0px 0px 25px rgba(252, 87, 66,1); }
    
   55% { box-shadow:inset 0px 0px 5px rgba(192, 57, 43,0.5); }
    
   100% {-webkit-transform:rotate(360deg);
       box-shadow:inset 0px 0px 25px rgba(192, 57, 43,1); }
}